.navbar {
    background-color: #490000;
}

footer {
    background-color: #490000;
    color: #fff;
}

footer ul {
    list-style: none;
}

.card {
    margin-bottom: 10px;
    display: inline-block;
}

.file {
    visibility: hidden;
    position: absolute;
  }