main {
    font-family: 'Heebo', sans-serif;
}

.navbar {
    background-color: #490000;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.main-bg {
    height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-bg {
    height: 130vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-bg {
    height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    border-radius: 25px;
    background-color: rgb(198, 132, 133, 0.8);
}

.main-subtitle {
    font-size: 24px;
}

.main-search {
    border-radius: 15px;
}

.btn-selected {
    border-radius: 0px;
    background-color: #490000;
    color: #fff;
}

.btn-selected:hover {
    color: #c68485;
}

.btn-deselected {
    border-radius: 0px;
    background-color: #c68485;
    color: #000;
}

.btn-search {
    border-radius: 15px;
    background-color: #490000;
    color: #fff;
}

.btn-search:hover {
    color: #c68485;
}

footer {
    padding-top: 20px;
    background-color: #490000;
    color: #fff;
}

footer h3 {
    font-size: 16px;
}

footer p {
    font-size: 14px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #c68485;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

.card {
    margin-bottom: 10px;
    display: inline-block;
}

.file {
    visibility: hidden;
    position: absolute;
  }

.recipe-image {
    width: 100%;
  }

.media-image {
    width: 100%;
}

.ingredient-text {
    margin-bottom: 5px;
}

.meta-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-tags {
    list-style: none;
    display: inline;
}

.error-link {
    color: #fff;
}

.error-link:hover {
    color: #c68485;
    text-decoration: none;
}

.header-image {
    position: relative;
    text-align: center;
}

.recipe-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-align: center;
    background-color: rgb(198, 132, 133, 0.6);
}

.recipe-centered p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.jumbotron-rule {
    margin: 10px;
}

.subheader-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.like-btn {
    background-color: #490000;
    color: #fff;
}

.like-btn:hover {
    color: #c68485;
}

.badge-primary {
    background-color: #490000;
    color: #fff;
}

.admin-div {
    padding-bottom: 10px;
}

.manage-buttons {
    text-align: right;
    padding-bottom: 10px;
}

.btn-control {
    background-color: #490000;
    color: #fff;
}

.btn-control:hover {
    color: #c68485;
}

.rec-section {
    background-color: #c68485;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rec-card {
    width: 300px;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin-bottom: 5px;
    font-size: 16px;
}

.card-text {
    margin-bottom: 5px;
    font-size: 12px;
}

.card-img-top {
    max-height: 140px;
}

.view-btn {
    background-color: #490000;
    color: #fff;
}

.view-btn:hover {
    color: #c68485;
}

.media-list {
    margin-bottom: 5px;
}

.form-row {
    margin-bottom: 10px;
}

#ingredients {
    margin-bottom: 10px;
}

/* Media Queries */

@media (max-width: 767.98px) {
    .header-logo {
        width: 200px;
    }
    .main-bg {
        height: 80vh;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
    .main-subtitle {
        font-size: 16px;
    }
    .results-bg {
        height: 620vh;
        background: url('../images/uploads/background-image.jpg');
        background-attachment: scroll;
        background-repeat: repeat-y;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .recipe-centered {
        width: 80%;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #fff;
        background-color: rgb(198, 132, 133, 0.6);
        padding: 20px 40px 20px 40px;
    }
    .recipe-centered h1 {
        font-size: 16px;
    }
    .recipe-centered p {
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .like-div {
        text-align: center;
    }
    .card-div {
        text-align: center;
    }
    .rec-title {
        text-align: center;
    }
    .like-btn {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .view-btn {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .add-bg {
        height: 180vh;
        background: url('../images/uploads/background-image.jpg');
        background-attachment: scroll;
        background-repeat: repeat-y;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
