/* --- Base Elements --- */

body {
    font-family: 'Heebo', sans-serif;
}

#messages {
    background-color: #c68485;
    font-weight: bold;
    width: 100%;
}

footer {
    padding-top: 20px;
    background-color: #490000;
    color: #fff;
    margin-top: -100px;
}

footer h3 {
    font-size: 16px;
}

footer p {
    font-size: 14px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #c68485;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* --- Navbar --- */

.navbar {
    background-color: #490000;
}

section {
    padding-bottom: 100px;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

/* --- Backgrounds --- */

.main-bg {
    height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bg {
    height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-bg {
    min-height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-bg {
    min-height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-bg {
    min-height: 100vh;
    background: url('../images/uploads/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Page Elements --- */

.jumbotron {
    border-radius: 25px;
    background-color: rgb(198, 132, 133, 0.8);
}

.main-subtitle {
    font-size: 24px;
}

.main-search {
    border-radius: 15px;
}

.card {
    margin-bottom: 10px;
    display: inline-block;
    width: 350px;
    background-color: #490000;
    color: #fff;
    text-align: center;
}

.file {
    visibility: hidden;
    position: absolute;
  }

.recipe-info, .media-info {
    color: #490000;
}

.ingredient-text {
    margin-bottom: 5px;
}

.meta-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-tags {
    list-style: none;
    display: inline;
}

.error-link {
    color: #fff;
}

.error-link:hover {
    color: #c68485;
    text-decoration: none;
}

.top-row {
    margin-top: 20px;
}

.side-div {
    background-color: #c68485;
    height: 100%;
    padding: 40px;
    width: 100%;
}

.filter-div {
    margin-top: 10px;
}

.recipe-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #000;
    text-align: center;
    background-color: rgb(198, 132, 133, 0.6);
}

.recipe-centered p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.jumbotron-rule {
    margin: 10px;
}

.subheader-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.badge-primary {
    background-color: #490000;
    color: #fff;
}

.admin-div {
    padding-bottom: 10px;
}

.rec-section {
    background-color: #c68485;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 100%;
}

.rec-card {
    width: 300px;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin-bottom: 5px;
    font-size: 16px;
}

.card-text {
    margin-bottom: 5px;
    font-size: 12px;
}

.media-list {
    margin-bottom: 5px;
}

.form-row {
    margin-bottom: 10px;
}

#ingredients {
    margin-bottom: 10px;
}

.add-title {
    margin-bottom: 20px;
}

.add-div {
    background-color: rgb(198, 132, 133, 0.8);
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.file-div {
    margin-bottom: 10px;
}

.alert-preview {
    margin: 20px;
    background-color: #c68485;
    color: #000;
}

.login-page {
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-subtitle {
    font-size: 18px;
    margin-top: 15px;
}

.modal-content {
    background-color: #c68485;
}

.confirmation {
    width: 95%;
    margin-left: 10px;
}

.delete-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-div {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.data-section {
    min-height: 250px;
}

/* --- Images --- */

.recipe-image, .media-image {
    width: 100%;
}

.header-image {
    position: relative;
    text-align: center;
}

.card-img-top {
    max-height: 140px;
}

/* --- Buttons --- */

.btn-selected {
    border-radius: 0px;
    background-color: #490000;
    color: #fff;
    font-weight: bold;
}

.btn-selected:hover {
    color: #c68485;
}

.btn-deselected {
    border-radius: 0px;
    background-color: #c68485;
    color: #000;
    font-weight: bold;
}

.btn-search {
    border-radius: 15px;
    background-color: #490000;
    color: #fff;
}

.btn-search:hover {
    color: #c68485;
}

.page-buttons {
    padding-bottom: 30px;
}

.like-btn {
    background-color: #490000;
    color: #fff;
    border: 1px solid white;
    font-size: 10px;
}

.like-btn:hover {
    color: #c68485;
    border: 1px solid #c68485;
}

.manage-buttons {
    text-align: right;
    padding-bottom: 10px;
}

.btn-control {
    background-color: #490000;
    color: #fff;
    border: 1px solid white;
}

.btn-control:hover {
    color: #c68485;
    border: 1px solid #c68485;
}

.view-btn {
    background-color: #490000;
    color: #fff;
    border: 1px solid white;
    font-size: 10px;
}

.view-btn:hover {
    color: #c68485;
    border: 1px solid #c68485;
}

.btn-add {
    background-color: #490000;
    color: #fff;
    margin-bottom: 10px;
}

.btn-add:hover {
    background-color: #c68485;
}

/* Media Queries */

@media (max-width: 767.98px) {
    .header-logo {
        width: 200px;
    }
    .main-bg {
        height: 80vh;
    }
    .login-bg {
        height: 120vh;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
    .main-subtitle {
        font-size: 16px;
    }
    .recipe-centered {
        width: 80%;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #fff;
        background-color: rgb(198, 132, 133, 0.6);
        padding: 20px 40px 20px 40px;
    }
    .recipe-centered h1 {
        font-size: 16px;
    }
    .recipe-centered p {
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .like-div {
        text-align: center;
    }
    .card-div {
        text-align: center;
        padding: 10px;
        height: 100%;
    }
    .rec-title {
        text-align: center;
    }
    .like-btn {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .view-btn {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .preview-jumbotron {
        top: 30%;
    }
    .card {
        width: 300px;
    }
}
@media (max-width: 991.98px) {
    .recipe-centered {
        top: 1%;
    }
}
@media (min-width: 992px) {
    .page-buttons {
        margin-bottom: 70px;
    }
}

