{% extends 'base.html' %}

{% block title %}404 error... | BingeWatch{% endblock %}

{% block content %}

<section class="container-fluid main-bg lg-img">

    <!-- Jumbotron to center error text and image -->
    <div class="jumbotron text-center">
        <img class="img-fluid" src="../static/images/404-image.png">
        <h1>Hmmm...</h1>
        <p>This page can't be found right now. It may have been checked out for editing by another user.</p>
        <p>Head back to <a href="{{ url_for('home_page') }}">the Home Page</a> for now, and try again later.</p>
    </div>

</section>

{% endblock %}