{% extends 'base.html' %}

{% block title %}500 error... | BingeWatch{% endblock %}

{% block content %}

<section class="container-fluid main-bg lg-img">

        <!-- Jumbotron to center error text and image -->
        <div class="jumbotron text-center">
                <img class="img-fluid" src="../static/images/404-image.png">
                <h1>Something went wrong...</h1>
                <p>That's definitely not supposed to happen...<a class="error-link"
                                href="{{ url_for('home_page') }}">click here</a> to go back to the Home Page.
                        We'll try and do better next time!</p>
        </div>

</section>

{% endblock %}