{% extends "base.html" %}

{% block content %}

<section class="container-fluid add-bg lg-img">

<div class="col-xs-12 offset-md-1 col-md-8">

<h1>Add a Recipe</h1>

<form action="{{ url_for('insert_recipe') }}" id="add-recipe" enctype="multipart/form-data" method="POST">
    <div class="form-row">
        <input id="recipe_name" name="recipe_name" class="form-control" type="text" placeholder="Recipe Name" required>
    </div>

    <div class="form-row">
        <select id="recipe_from" name="recipe_from" class="form-control" required>
            <option value="" disabled selected>Recipe From</option>
            {% for media in media %}
            <option value="{{media.media_name}}">{{media.media_name}}</option>
            {% endfor %}
        </select>
        <p>Don't see the media you want to choose? <a href="{{ url_for('add_media') }}" target="_blank">Click here</a> to add a new media record. You may need to refresh this
        page to see the new media record in this list.</p>
    </div>

    <div class="form-row">
        <select id="cuisine" name="cuisine" class="form-control" required>
            <option value="" disabled selected>Cuisine</option>
            {% for origin in origin %}
            <option value="{{ origin.nationality }}">{{ origin.nationality }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-row">
        {% for type in recipe_types %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="recipe_type" value="{{ type.recipe_type }}" id="recipe_type">
            <label class="form-check-label">
                {{ type.recipe_type }}
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <textarea id="recipe_description" name="recipe_description" class="form-control" rows="5" placeholder="Recipe Description" required></textarea>
    </div>

    <div class="form-row">
        <p>Ingredients</p>
    </div>

    <div id="ingredients-list col-md-6">
        <div class="form-group" id="first-ingredient">
            <input id="ingredients" name="ingredients" class="form-control" type="text" placeholder="Ingredient" required>
        </div>
    </div>
    <div id="add-ingredient-div col-md-2">
    <button class="btn btn-search" id="add-ingredient"><i class="fas fa-plus"></i></button>
    </div>

    <div class="form-row">
        <p>Method</p>
    </div>
    
    <div id="method-steps">
        <div class="form-group" id="method-div">
            <input id="method" name="method" class="form-control" type="text" placeholder="Step" required>
        </div>
    </div>
    <a class="btn btn-primary" id="add-step">Add Step</a>

    <p>Upload Image</p>

    <div class="custom-file">
        <input type="file" name="recipe-image" class="custom-file-input" id="main-image">
        <label class="custom-file-label" for="main-image">Choose file</label>
    </div>

    <button type="submit" class="btn btn-primary" name="action">Submit</button>

</form>

</div>

</section>


{% endblock %}