{% extends "base.html" %}

{% block content %}

<section class="container-fluid">

<h1>Add a Recipe</h1>

<form action="{{ url_for('update_recipe', update_recipe_id = recipe._id) }}" id="edit-recipe" enctype=multipart/form-data method="POST">

    <div class="form-row">
        <p>Amend the fields below and click the 'Submit' button to save your changes.</p>
    </div>

    <div class="form-row">
        <label>Recipe Name</label>
        <input id="recipe_name" name="recipe_name" class="form-control" type="text" placeholder="Recipe Name" value="{{ recipe.recipe_name }}" required>
    </div>

    <div class="form-row">
        <select id="recipe_from" name="recipe_from" class="form-control" required>
            <option value="" disabled selected>Recipe From</option>
            {% for media in media %}
            {% if media.media_name == recipe.recipe_from %}
            <option value="{{media.media_name}}" selected>{{media.media_name}}</option>
            {% else %}
            <option value="{{media.media_name}}">{{media.media_name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-row">
        <select id="cuisine" name="cuisine" class="form-control" required>
            <option value="" disabled selected>Cuisine</option>
            {% for origin in origin %}
            {% if origin.nationality == recipe.cuisine %}
            <option value="{{ origin.nationality }}" selected>{{ origin.nationality }}</option>
            {% else %}
            <option value="{{ origin.nationality }}">{{ origin.nationality }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-row">
        {% for type in recipe_types %}
        {% if type.recipe_type in recipe.recipe_type %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="recipe_type" value="{{ type.recipe_type }}" id="recipe_type" checked>
            <label class="form-check-label">
                {{ type.recipe_type }}
            </label>
        </div>
        {% else %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="recipe_type" value="{{ type.recipe_type }}" id="recipe_type">
            <label class="form-check-label">
                {{ type.recipe_type }}
            </label>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="form-group">
        <label>Recipe Description</label>
        <textarea id="recipe_description" name="recipe_description" class="form-control" rows="5" required>{{ recipe.recipe_description }}</textarea>
    </div>

    <div class="form-row">
        <p>Ingredients</p>
    </div>

    <div id="ingredients-list">
        {% for i in recipe.ingredients %}
        <div class="form-group" id="first-ingredient">
            <input id="ingredients" name="ingredients" class="form-control" type="text" placeholder="Ingredient" value="{{ i }}" required>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" id="add-ingredient">Add Ingredient</a>

    <div class="form-row">
        <p>Method</p>
    </div>
    
    <div id="method-steps">
        {% for m in recipe.method %}
        <div class="form-group" id="method-div">
            <input id="method" name="method" class="form-control" type="text" placeholder="Step" value="{{ m }}" required>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" id="add-step">Add Step</a>

    <p>Upload Image</p>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="image" name="image">
            <label class="custom-file-label" for="image">{{ recipe.image }}</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" name="action">Update</button>

</form>

</section>


{% endblock %}