{% extends 'base.html' %}

{% block content %}

<section class="container-fluid add-bg lg-img">

    <div class="add-div col-xs-12 offset-md-1 col-md-8">
        <div class="text-center add-title">
            <h1>Edit Media</h1>
        </div>

        <form action="{{ url_for('update_media', update_media_id = media._id)}}" id="edit-media" enctype=multipart/form-data method="POST">
        
        <div class="form-row">
            <input id="media-name" name="media-name" class="form-control" type="text" placeholder="Media Name" value="{{ media.media_name }}" required>
        </div>

        <div class="form-row">
            <div class="col">
                <select id="category" name="category" class="form-control" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                    {% if cat.category_name == media.category %}
                    <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                    {% else %}
                    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select id="origin" name="origin" class="form-control" required>
                    <option value="" disabled selected>Choose Origin</option>
                    {% for origin in origin %}
                    {% if origin.nationality == media.origin %}
                    <option value="{{ origin.nationality }}" selected>{{ origin.nationality }}</option>
                    {% else %}
                    <option value="{{ origin.nationality }}">{{ origin.nationality }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            {% for genres in genres %}
            {% if genres.genre_name in media.genres %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="genres" value="{{ genres.genre_name }}" id="genres" checked>
                <label class="form-check-label">
                    {{ genres.genre_name }}
                </label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="genres" value="{{ genres.genre_name }}" id="genres">
                <label class="form-check-label">
                    {{ genres.genre_name }}
                </label>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="form-group">
            <textarea id="description" name="description" class="form-control" rows="5" required>{{ media.description }}</textarea>
        </div>

        <h5>Starring</h5>
        <div id="actor-list">
            {% for s in media.starring %}
            <div class="input-group" id="actors">
                <input id="starring" name="starring" class="form-control" type="text" placeholder="Actor" value="{{ s }}" required>
                <div class="input-group-append">
                    <a class='btn btn-add' id='remove-actor'><i class="fas fa-minus"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <h5>Creators</h5>
        <div id="creator-list">
            {% for c in media.creators %}
            <div class="input-group" id="creator-div">
                <input id="creators" name="creators" class="form-control" type="text" placeholder="Creator" value="{{ c }}" required>
                <div class="input-group-append">
                    <a class='btn btn-add' id='remove-creator'><i class="fas fa-minus"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
        <button type="submit" class="btn btn-control" name="action">Preview</button>        
        </div>
        </form>
    </div>

</section>


{% endblock %}