{% extends 'base.html' %}

{% block content %}

<section class="container-fluid login-bg lg-img">

    <!-- Jumbotron to prominently display the login form -->
<div class="jumbotron login-page">

    <div class="text-center">
        <h1>Log In</h1>
        <p class="login-subtitle">Log in with the username and password you submitted when creating your user account.</p>
    </div>

    <form method='POST' action="{{ url_for('user_auth') }}">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-control">Submit</button>
        </div>

        <hr>
        
        <div class="text-center">
            <p class="login-subtitle">Don't have a user account?</p>
            <a class="btn btn-control" href="{{ url_for('register') }}">Register</a>
        </div>

    </form>

</div>

</section>


{% endblock %}