{% extends 'base.html' %}

{% block content %}

<h1>Welcome {{ user.username }}</h1>

<p>This is your <strong>Binge | Watch</strong> user profile page.</p>
<p>All the recipes and media you have liked will appear in the sections below.</p>

{% for l in likes %}
{% if l.record_type == 'recipe' %}
<div class="card col-sm-12 col-md-3" id="{{ l.recipe_id }}">
        <img src="../{{ l.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ l.recipe_name }}</h5>
            <p class="card-text">From <strong>{{ l.recipe_from }}</strong></p>
            <a href="{{ url_for('recipe', recipe_id = l.recipe_id) }}" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
{% elif l.record_type == 'media' %}
    <div class="card col-sm-12 col-md-3" id="{{ l.media_id }}">
        <img src="../{{ l.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ l.media_name }}</h5>
            <p class="card-text"><strong>{{ l.category }}</strong></p>
            <a href="{{ url_for('media', media_id = l.media_id) }}" class="btn btn-primary">View Media</a>
        </div>
    </div>
{% endif %}
{% endfor %} 

<h2>Your Recipes</h2>
{% for r in recipes %}
{% if r.submitted_by == user['username'] %}
<div class="card col-sm-12 col-md-3" id="{{ r._id }}">
        <img src="../{{ r.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ r.recipe_name }}</h5>
            <p class="card-text">From <strong>{{ r.recipe_from }}</strong></p>
            <a href="{{ url_for('recipe', recipe_id = r._id) }}" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
{% endif %}
{% endfor %}

<h2>Your Media</h2>
{% for m in media %}
{% if m.submitted_by == user['username'] %}
    <div class="card col-sm-12 col-md-3" id="{{ m.media_id }}">
        <img src="../{{ m.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ m.media_name }}</h5>
            <p class="card-text"><strong>{{ m.category }}</strong></p>
            <a href="{{ url_for('media', media_id = m.media_id) }}" class="btn btn-primary">View Media</a>
        </div>
    </div>
{% endif %}
{% endfor %}

{% endblock %}