{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile | BingeWatch{% endblock %}

{% block content %}

<section class="container-fluid profile-bg lg-img">

    <div class="row">

        <div class="profile-div">

        <div class="col-sm-12 offset-xl-1 col-xl-2">
            <h1>Welcome {{ user.username }}</h1>
            <p>This is your <strong>Binge | Watch</strong> user profile page.</p>
            <p>All the recipes and media you have liked will appear on this page.</p>
        </div>

        <!-- List recipes and media based on whether the user has liked or created the record -->
        <div class="card-div col-sm-12 col-xl-9">
            <h4>Liked Recipes</h4>
            {% for l in likes %}
            {% if l.record_type == 'recipe' %}
            <div class="card col-sm-12 col-xl-3" id="{{ l.recipe_id }}">
                <img src="../{{ l.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ l.recipe_name }}</h5>
                    <p class="card-text">From <strong>{{ l.recipe_from }}</strong></p>
                    <a href="{{ url_for('recipe', recipe_id = l.recipe_id) }}" class="btn view-btn"><i
                            class="fas fa-pizza-slice"></i> View</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}


            <h4>Liked Media</h4>
            {% for l in likes %}
            {% if l.record_type == 'media' %}
            <div class="card col-sm-12 col-xl-3" id="{{ l.media_id }}">
                <img src="../{{ l.media_image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ l.media_name }}</h5>
                    <p class="card-text"><strong>{{ l.category }}</strong></p>
                    <a href="{{ url_for('media', media_id = l.media_id) }}" class="btn view-btn"><i
                            class="fas fa-film"></i> View</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <h4>Your Recipes</h4>
            {% for r in recipes %}
            {% if r.submitted_by == user['username'] %}
            <div class="card col-sm-12 col-xl-3" id="{{ r._id }}">
                <img src="../{{ r.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ r.recipe_name }}</h5>
                    <p class="card-text">From <strong>{{ r.recipe_from }}</strong></p>
                    <a href="{{ url_for('recipe', recipe_id = r._id) }}" class="btn view-btn"><i
                            class="fas fa-pizza-slice"></i> View</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <h4>Your Media</h4>
            {% for m in media %}
            {% if m.submitted_by == user['username'] %}
            <div class="card col-sm-12 col-xl-3" id="{{ m.media_id }}">
                <img src="../{{ m.media_image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ m.media_name }}</h5>
                    <p class="card-text"><strong>{{ m.category }}</strong></p>
                    <a href="{{ url_for('media', media_id = m.media_id) }}" class="btn view-btn"><i
                            class="fas fa-film"></i> View</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>

    </div>

    </div>

</section>

{% endblock %}